/* font-family: 'Crimson Text', serif;
font-family: 'Taviraj', serif; */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* start header styling */

header {
    background-size: cover;
    background-image: url(./images/parrish-freeman-vEkzfO1WpnI-unsplash.jpg);
    background-position: center;
    background-position: 60em;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 30px 45px;
    flex-wrap: wrap;
    top: 0;
}


header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
}



header a {
    text-decoration: none;
    color: rgb(170, 223, 36);
    font-family: 'Crimson Text', Serif;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2em;
    text-decoration: underline;
}

/* end header styling */


/* About me styling */
.intro {
    padding: 10px 15px;
    text-align: center;
    background-image: url(./images/parrish-freeman-vEkzfO1WpnI-unsplash.jpg);
    display: flex;
    flex-direction: column;
}

.intro h2 {
    text-align: center;
    font-family: 'Crimson Text', Serif;
    color: rgb(0, 128, 81); 
    margin: 0 auto;
    font-size: 50px;
    text-decoration: underline;
}

.intro p {
    font-size: 25px;
    text-align: center;
    padding: 20px;
    margin: 15px;
    color: white;
    border: 1px solid white;
}


.intro img {
    width: 20%;
    margin: 0 auto;
    position: relative;
    border: 1px solid black;
    border-radius: 15px;
}
/* end about me styling */

/* skills styling */

.skills {
    background-image: url(./images/parrish-freeman-vEkzfO1WpnI-unsplash.jpg);
    padding: 25px;
}

.skills h2 {
    text-align: center;
    font-size: 50px;
    font-family: 'Crimson Text', Serif;
    color: rgb(0, 128, 81); 
    text-decoration: underline;
}

.skills ul li {
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 30px;
}
/* Skills styling end */


/* my work styling start */

.work {
    background-image: url(./images/parrish-freeman-vEkzfO1WpnI-unsplash.jpg)
}

.projlink {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.work h2 {
    text-align: center;
    font-size: 50px;
    font-family: 'Crimson Text', Serif;
    color: rgb(0, 128, 81); 
    text-decoration: underline;
}

.work p {
    color: white;
}


.work img {
    border: 2px solid yellow;
    border-radius: 20px;
    height: 300px;
    transition: .2s;
}

.work img:hover {
    opacity: .7;
    transform: scale(1.5);
}

.projlink2 img {
    display: flex;
    height: 200px;
}

.work-flex {
    display: flex;
    justify-content: space-evenly;
    pad: 30px;
    justify-content: center;
}
/* my work styling end */


/* contact info start */

.contact-info {
    padding: 30px;
    background-image: url(./images/parrish-freeman-vEkzfO1WpnI-unsplash.jpg);
}

.contact-info h3 {
    text-align: center;
    font-size: 50px;
    font-family: 'Crimson Text', Serif;
    color: rgb(0, 128, 81); 
    text-decoration: underline;
}

.contact-info p {
    color: white;
    text-align: center;
    font-size: 20px;
}

.contact-info address {
    color: white;
    font-size: 20px;
    text-align: center;
}

.contact-info address a {
    color: rgb(0, 128, 81); 
}

/* contact info end */

  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

  @media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }
      header h1 {
        width: 100%;
        text-align: center;
      }
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
      header nav ul li a {
        font-size: 20px;
  }
  }
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }

  }

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) 