/* font-family: 'Crimson Text', serif;
font-family: 'Taviraj', serif; */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


/* start header styling */

header {
    display: flex;
    justify-content: space-between;
    padding: 30px 45px;
    background-image: url(./images/parrish-freeman-vEkzfO1WpnI-unsplash.jpg);
    background-position: center;
    background-position: 60em;
    background-size: cover;
}


header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 40px;
}

header a {
    text-decoration: none;
    color: rgb(170, 223, 36);
    font-family: 'Crimson Text', Serif;
}

header nav {
    margin: 7px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font: lighter;
    font-size: 2vw;
}

/* end header styling */

.intro {
    padding: 10px 15px;
    text-align: center;
}

.intro h2 {
    text-align: center;
    font-family: 'Crimson Text', Serif;
    color: rgb(0, 128, 81); 
    padding: 5%
}

.intro p {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}


.intro img {
    width: 35%;
    margin: auto;
    padding: 15px;
}
