/* font-family: 'Crimson Text', serif;
font-family: 'Taviraj', serif; */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* start header styling */

header {
    background-size: cover;
    background-image: url(./images/parrish-freeman-vEkzfO1WpnI-unsplash.jpg);
    background-position: center;
    background-position: 60em;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 30px 45px;
    flex-wrap: wrap;
    top: 0;
}


header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
}

header a {
    text-decoration: none;
    color: rgb(170, 223, 36);
    font-family: 'Crimson Text', Serif;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2em
    
}

/* end header styling */


/* About me styling */
.intro {
    padding: 10px 15px;
    text-align: center;
    background-image: url(./images/parrish-freeman-vEkzfO1WpnI-unsplash.jpg);
    display: flex;
    flex-direction: column;
}

.intro h2 {
    text-align: center;
    font-family: 'Crimson Text', Serif;
    color: rgb(0, 128, 81); 
    margin: 0 auto;
    font-size: 50px;
}

.intro p {
    font-size: 25px;
    text-align: center;
    padding: 20px;
    margin: 15px;
    color: white;
    border: 1px solid white;
}


.intro img {
    width: 20%;
    margin: 0 auto;
    position: relative;
    border: 1px solid black;
    border-radius: 15px;
}
/* end about me styling */

/* skills styling */

.skills {
    background-image: url(./images/parrish-freeman-vEkzfO1WpnI-unsplash.jpg);
    padding: 25px;
}

.skills h2 {
    text-align: center;
    font-size: 50px;
    font-family: 'Crimson Text', Serif;
    color: rgb(0, 128, 81); 
}

.skills ul li {
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 30px;
}
